<div
  data-modal-target="modal"
  class="absolute inset-0 z-50 bg-[#3B3D4A] bg-opacity-30 opacity-0 pointer-events-none hidden transition-opacity duration-300 ease-in-out"
>
  <div class="bg-white w-full max-w-md mx-auto mt-32 p-6 rounded-xl shadow-lg transform scale-95 transition-transform duration-300 ease-in-out"
       data-modal-target="content">
    <h2 class="text-lg font-bold mb-4">{{ 'categorie.add.title'|trans }}</h2>

    {{ form_start(categorieForm) }}
      {{ form_row(categorieForm.nom_categorie) }}

      <div class="flex justify-end mt-6 gap-3">
        <button type="submit" class="btn-primary">
          {{ 'categorie.add.submit'|trans }}
        </button>
        <button type="button" data-action="modal#close" class="btn-secondary">
          {{ 'global.cancel'|trans }}
        </button>
      </div>
    {{ form_end(categorieForm) }}
  </div>
</div>
